<div class="container">
    <h1>Create new work history</h1>
    <%=  bootstrap_form_with model: @work, url: works_path, method: :post, local: true do |f| %>
        <%= f.text_field :title %>
        <%= f.text_area :description ,:cols=> "10", :rows=>"10"%>
        <%= f.text_field :duration %>
        <%= f.submit %>
    <% end %>
</div>